
.create-form-container {
    /* border: 4px solid green; */
    border-top: 1px solid lightgray;
    width: 100%;
    height: fit-content;
}

.create-form-header {
    /* border: 2px solid violet; */
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.create-header-text {
    /* border: 2px solid blue; */
    width: 80%;
    margin-left: 5%;
    margin-right: 5%;
    font-size: 48px;
    font-weight: 700;
    color: #39364F;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.form-create-structure {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* border: 2px solid blue; */
    padding: 1%;
    border-radius: 1px;
    min-height: 20vh;
}

.create-field-struct {
    border: 2px solid gray;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 60%;
    height: 50%;
}

.input-create-outer {
    /* border: 1px solid red; */
    border-radius: 1px;
    background-color: white;
    width: 99%;
    height: 35%;
    font-size: 14px;
    align-items: flex-start;
    color: gray;
    margin-left: 1%;
}

.input-create-inner {
    /* border: 2px solid green; */
    border: 0px;
    font-size: 20px;
    width: 99%;
    height: 25%;
    padding: 0;
    margin-left: 1%;
    max-height: 95%;
}

.input-create-inner-ta {
    text-decoration: none ;
    border: none;
    min-width: 98%;
    max-width: 98%;
    min-height: 200px;
    /* height: 25%; */
    padding: 0;
    margin-left: 1%;
}

.submit-event {
    /* border: 3px solid green; */
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 1%;
    height: 50px;
    width: 100%;
}

.submit-btn {
    width: 100px;
    border: #ff4500;
    border-radius: 5px;
    background-color: #ff4500;
    color: white;
    height: 50px;
}

.submit-btn:hover {
    cursor: pointer;
}