.likes-index-struct {
    border-top: 2px solid lightgray;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 1080;
    height: 1000px;
}

.likes-index-body {
    /* border: 2px solid green; */
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    min-width: 1000px;
    width: 1000px;
    height: 100%;
}

.likes-body-header {
    /* border: 2px solid red; */
    min-width: 1000px;
    min-height: 225px;

}

.likes-header-text {
    /* border: 2px solid blue; */
    min-width: 1000px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 800;
    color: #1e0a3c;
    font-size: 48px;
    margin-top: 10%;
    /* margin-bottom: 2%; */
    padding-left: 10%;
}

.likes-index-content {
    /* border: 2px solid purple; */
    width: 100%;
    height: 225px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.likes-item-list {
    /* border: 2px solid yellow; */
    width: 700px;
    height: 180px;
    margin: 1%;
    padding: 12px;
    display: flex;
    /* border: 1px solid #F5F5F5; */
    box-shadow: 0 12px 32px rgba(42, 50, 70, 0.06);

}

.likes-item-list:hover {
    /* transform: scale(1.01); */
    box-shadow: 0 12px 32px rgba(42, 50, 70, 0.11);
}

.likes-item-photo-container {
    /* border: 2px solid orange; */
    height: 100px;
    width: 180px;
    overflow: hidden;
}

.likes-photo {
    max-width: 200px;
    height: auto;
    width: auto;
}

.likes-item-status {
    /* border: 2px solid pink; */
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    height: 80px;
    width: 180px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.index-item-unlike {
    /* border: 2px solid red; */
    font-size: 14px;
    font-weight: 500;
    border-radius: 5px;
    background-color: #d1410c;
    color: white;
    width: 150px;
    height: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.index-item-unlike:hover {
    cursor: pointer;
}

.likes-item-body {
    /* border: 2px solid blue; */
    width: 508px;
    height: 180px;
}


.likes-item-title {
    /* border: 2px solid lightgreen; */
    font-size: 18px;
    font-weight: 700;
    color: #39364f;
    width: 520px;
    height: 30px;
    padding: 1%;
    text-decoration: none;
}

.likes-item-title:hover {
    cursor: pointer;
}

.likes-item-time {
    color: #d1410c;
    font-size: 14px;
    font-weight: 600;
    padding: 2%;
    
}

.likes-item-address {
    font-size: 14px;
    font-weight: 500;
    color: #6f7287;
    padding: 2%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.likes-item-price {
    font-size: 14px;
    font-weight: 500;
    padding: 2%;
}
